<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <title>Create Data Report</title>
  </head>
  <body>
    <div class="container">
      <h2>Clinical Data Report:</h2>
      <table class="content-table">
        <thead>
          <th>Component</th>
          <th>Anime Model</th>
          <th>Motor Behavior</th>
          <th>Neuron Loss</th>
          <th>Striatal Loss</th>
          <th>Lewy Body</th>
          <th>Measure Date Time</th>
        </thead>
        {%for eachEntry in data%}
        <tr>
          <td>{{eachEntry.componentName}}</td>
          <td>{{eachEntry.animalModel}}</td>
          <td>{{eachEntry.motorbehavior}}</td>
          <td>{{eachEntry.neuronLoss}}</td>
          <td>{{eachEntry.striatalLoss}}</td>
          <td>{{eachEntry.lewyBody}}</td>
          <td>{{eachEntry.measureDateTime}}</td>
        </tr>
        {%endfor%}
      </table>
      <a class="button" href="/">Home</a>
    </div>
  </body>
</html>
