<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <title>Animal Model List</title>
  </head>
  <body>
    <div class="container">
      <h1 class="context">Animal Models:</h1>
      <table class="content-table">
        <thead>
          <th>Id</th>
          <th>Name</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Update</th>
          <th>Delete</th>
          <th>Add Data</th>
          <th>Analyze Data</th>
        </thead>
        {% for patient in patient_list %}
        <tr>
          <td>{{patient.id}}</td>
          <td>{{patient.name}}</td>
          <td>{{patient.age}}</td>
          <td>{{patient.gender}}</td>
          <td><a href="/update/{{patient.id}}">Update</a></td>
          <td><a href="/delete/{{patient.id}}">Delete</a></td>
          <td><a href="/addData/{{patient.id}}">Add Data</a></td>
          <td><a href="/analyze/{{patient.id}}">Analyze Data</a></td>
        </tr>
        {% endfor %}
      </table>

      <br />
      <a class="button main-btn" href="create/">Add Animal Model</a>
    </div>
  </body>
</html>
